/APP_TDT_WEB/nbproject/private/
/APP_TDT_WEB/APP_TDT_WEB-ejb/nbproject/private/
/APP_TDT_WEB-war/nbproject/private/
/APP_TDT_WEB/APP_TDT_WEB-ejb/build/
/APP_TDT_WEB-war/build/
/APP_TDT_WEB/build/
/APP_TDT_WEB-war/dist/
/APP_TDT_WEB/APP_TDT_WEB-ejb/dist/
/APP_TDT_WEB-ejb/nbproject/private/
/APP_TDT_WEB-ejb/build/
/APP_TDT_WEB-ejb/dist/
/pruebaJboos/nbproject/private/
/pruebaJboos/pruebaJboos-war/nbproject/private/
/pruebaJboos/pruebaJboos-ejb/nbproject/private/
/appJasper/nbproject/private/
/appJasper/build/
/EjemploMAytoMAny/nbproject/private/
/EjemploMAytoMAny/EjemploMAytoMAny-war/nbproject/private/
/EjemploMAytoMAny/EjemploMAytoMAny-ejb/nbproject/private/
/EjemploMAytoMAny/EjemploMAytoMAny-ejb/build/
/EjemploMAytoMAny/EjemploMAytoMAny-ejb/dist/
/EjemploMAytoMAny/EjemploMAytoMAny-war/build/
/EjemploMAytoMAny/build/
/EjemploMAytoMAny/EjemploMAytoMAny-war/dist/
/EjemploMAytoMAny/dist/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/GestionMiPago/nbproject/private/
/GestionMiPago/GestionMiPago-ejb/nbproject/private/
/GestionMiPago-war/nbproject/private/
/GestionMiPago/GestionMiPago-ejb/build/
/GestionMiPago/GestionMiPago-ejb/dist/
/GestionMiPago-war/build/
/GestionMiPago/build/
/GestionMiPago/dist/
/GestionMiPago-war/dist/